/* global styles */

* {
    box-sizing: border-box;
}

body {
    --dark: #22223B;
    --light: #4A4E69;
    --shadow: #9A8C9880;
    --text: #F2E9E4;
    --border: #808080;
    --border-radius: 5px;

    color: var(--text);
    font-family: 'Source Sans Pro', sans-serif;

    background-color: var(--dark);

    width: 100vw;
    height: 100vh;
    margin: 0;
}

input,
button {
    font-family: inherit;
    color: inherit;
    font-size: 1.25rem;
    background-color: var(--light);

    border: none;
    outline: none;

    padding: 0.5rem 1rem;
}

input:focus,
button:focus {
    outline: none;
}

button:not(:disabled):hover {
    cursor: pointer;
}
