/* history styles */

.history {
    max-width: 600px;
    width: 30vw;
    margin-top: 3rem;
}

h1 {
    margin: 0;
}

.history-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: start;
}
