/* error styles */

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 2rem;
	width: 100vw;
	height: 100vh;
	
	background-color: #22223B;
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2 {

	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
}

h1 {
	margin: 0;
	color: #F2E9E4;
}

h2 {
	margin-top: 1rem;
	color: #C0C0C0;
}
